In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = 'lund2017_table2.txt'

data = np.genfromtxt(path, dtype=str, skip_header=6, skip_footer=1)

In [5]:
data.shape

(66, 9)

In [75]:
colnames = np.array([
    'KIC',
    'numaxT',
    'DnuT',
    'dDnu_dnT',
    'epsilonT',
    'dnu01T',
    'ddnu01_dnT',
    'dnu02T',
    'ddnu02_dnT',
    ])

In [79]:
df = pd.DataFrame(data, columns=colnames)
df.head()

,KIC,numaxT,DnuT,dDnu_dnT,epsilonT,dnu01T,ddnu01_dnT,dnu02T,ddnu02_dnT
0,1435467,1406.7${}_{-8.4}^{+6.3}$,70.369${}_{-0.033}^{+0.034}$,0.223${}_{-0.009}^{+0.010}$,1.114${}_{-0.009}^{+0.009}$,2.907${}_{-0.125}^{+0.125}$,-0.126${}_{-0.021}^{+0.020}$,5.682${}_{-0.233}^{+0.252}$,-0.116${}_{-0.040}^{+0.040}$
1,2837475,1557.6${}_{-9.2}^{+8.2}$,75.729${}_{-0.042}^{+0.041}$,0.179${}_{-0.012}^{+0.012}$,0.911${}_{-0.011}^{+0.011}$,2.235${}_{-0.188}^{+0.177}$,-0.017${}_{-0.028}^{+0.028}$,6.417${}_{-0.392}^{+0.408}$,-0.126${}_{-0.048}^{+0.049}$
2,3427720,2737.0${}_{-17.7}^{+10.7}$,120.068${}_{-0.032}^{+0.031}$,0.287${}_{-0.008}^{+0.010}$,1.356${}_{-0.006}^{+0.006}$,3.487${}_{-0.080}^{+0.079}$,-0.053${}_{-0.014}^{+0.014}$,10.186${}_{-0.112}^{+0.100}$,-0.124${}_{-0.022}^{+0.022}$
3,3456181,970.0${}_{-5.9}^{+8.3}$,52.264${}_{-0.039}^{+0.041}$,0.216${}_{-0.011}^{+0.011}$,0.988${}_{-0.014}^{+0.013}$,3.551${}_{-0.167}^{+0.158}$,-0.075${}_{-0.023}^{+0.024}$,4.370${}_{-0.248}^{+0.251}$,-0.030${}_{-0.043}^{+0.043}$
4,3632418,1166.8${}_{-3.8}^{+3.0}$,60.704${}_{-0.018}^{+0.019}$,0.232${}_{-0.004}^{+0.004}$,1.114${}_{-0.006}^{+0.005}$,3.697${}_{-0.062}^{+0.064}$,-0.041${}_{-0.010}^{+0.009}$,4.189${}_{-0.115}^{+0.102}$,-0.053${}_{-0.019}^{+0.017}$

In [80]:
names = df.columns[1:]

In [81]:
for n in names:
    df[f'{n[:-1]}'] = df[f'{n}'].str.split('$').str[0]
    df[f'-e_{n[:-1]}'] = df[f'{n}'].str.split('$').str[1].str.split('_').str[1].str.split('^').str[0].str.strip('{}')
    df[f'+e_{n[:-1]}'] = df[f'{n}'].str.split('$').str[1].str.split('_').str[1].str.split('^').str[1].str.strip('{}')
df.head()

,KIC,numaxT,DnuT,dDnu_dnT,epsilonT,dnu01T,ddnu01_dnT,dnu02T,ddnu02_dnT,numax,...,+e_dnu01,ddnu01_dn,-e_ddnu01_dn,+e_ddnu01_dn,dnu02,-e_dnu02,+e_dnu02,ddnu02_dn,-e_ddnu02_dn,+e_ddnu02_dn
0,1435467,1406.7${}_{-8.4}^{+6.3}$,70.369${}_{-0.033}^{+0.034}$,0.223${}_{-0.009}^{+0.010}$,1.114${}_{-0.009}^{+0.009}$,2.907${}_{-0.125}^{+0.125}$,-0.126${}_{-0.021}^{+0.020}$,5.682${}_{-0.233}^{+0.252}$,-0.116${}_{-0.040}^{+0.040}$,1406.7,...,+0.125,-0.126,-0.021,+0.020,5.682,-0.233,+0.252,-0.116,-0.040,+0.040
1,2837475,1557.6${}_{-9.2}^{+8.2}$,75.729${}_{-0.042}^{+0.041}$,0.179${}_{-0.012}^{+0.012}$,0.911${}_{-0.011}^{+0.011}$,2.235${}_{-0.188}^{+0.177}$,-0.017${}_{-0.028}^{+0.028}$,6.417${}_{-0.392}^{+0.408}$,-0.126${}_{-0.048}^{+0.049}$,1557.6,...,+0.177,-0.017,-0.028,+0.028,6.417,-0.392,+0.408,-0.126,-0.048,+0.049
2,3427720,2737.0${}_{-17.7}^{+10.7}$,120.068${}_{-0.032}^{+0.031}$,0.287${}_{-0.008}^{+0.010}$,1.356${}_{-0.006}^{+0.006}$,3.487${}_{-0.080}^{+0.079}$,-0.053${}_{-0.014}^{+0.014}$,10.186${}_{-0.112}^{+0.100}$,-0.124${}_{-0.022}^{+0.022}$,2737.0,...,+0.079,-0.053,-0.014,+0.014,10.186,-0.112,+0.100,-0.124,-0.022,+0.022
3,3456181,970.0${}_{-5.9}^{+8.3}$,52.264${}_{-0.039}^{+0.041}$,0.216${}_{-0.011}^{+0.011}$,0.988${}_{-0.014}^{+0.013}$,3.551${}_{-0.167}^{+0.158}$,-0.075${}_{-0.023}^{+0.024}$,4.370${}_{-0.248}^{+0.251}$,-0.030${}_{-0.043}^{+0.043}$,970.0,...,+0.158,-0.075,-0.023,+0.024,4.370,-0.248,+0.251,-0.030,-0.043,+0.043
4,3632418,1166.8${}_{-3.8}^{+3.0}$,60.704${}_{-0.018}^{+0.019}$,0.232${}_{-0.004}^{+0.004}$,1.114${}_{-0.006}^{+0.005}$,3.697${}_{-0.062}^{+0.064}$,-0.041${}_{-0.010}^{+0.009}$,4.189${}_{-0.115}^{+0.102}$,-0.053${}_{-0.019}^{+0.017}$,1166.8,...,+0.064,-0.041,-0.010,+0.009,4.189,-0.115,+0.102,-0.053,-0.019,+0.017

In [84]:
df_reduced = df.drop(columns=names)
df_reduced.head()

,KIC,numax,-e_numax,+e_numax,Dnu,-e_Dnu,+e_Dnu,dDnu_dn,-e_dDnu_dn,+e_dDnu_dn,...,+e_dnu01,ddnu01_dn,-e_ddnu01_dn,+e_ddnu01_dn,dnu02,-e_dnu02,+e_dnu02,ddnu02_dn,-e_ddnu02_dn,+e_ddnu02_dn
0,1435467,1406.7,-8.4,+6.3,70.369,-0.033,+0.034,0.223,-0.009,+0.010,...,+0.125,-0.126,-0.021,+0.020,5.682,-0.233,+0.252,-0.116,-0.040,+0.040
1,2837475,1557.6,-9.2,+8.2,75.729,-0.042,+0.041,0.179,-0.012,+0.012,...,+0.177,-0.017,-0.028,+0.028,6.417,-0.392,+0.408,-0.126,-0.048,+0.049
2,3427720,2737.0,-17.7,+10.7,120.068,-0.032,+0.031,0.287,-0.008,+0.010,...,+0.079,-0.053,-0.014,+0.014,10.186,-0.112,+0.100,-0.124,-0.022,+0.022
3,3456181,970.0,-5.9,+8.3,52.264,-0.039,+0.041,0.216,-0.011,+0.011,...,+0.158,-0.075,-0.023,+0.024,4.370,-0.248,+0.251,-0.030,-0.043,+0.043
4,3632418,1166.8,-3.8,+3.0,60.704,-0.018,+0.019,0.232,-0.004,+0.004,...,+0.064,-0.041,-0.010,+0.009,4.189,-0.115,+0.102,-0.053,-0.019,+0.017

In [89]:
df_reduced.loc[:, df_reduced.columns[1:]] = df_reduced.loc[:, df_reduced.columns[1:]].astype(float)

In [90]:
df_reduced.head()

,KIC,numax,-e_numax,+e_numax,Dnu,-e_Dnu,+e_Dnu,dDnu_dn,-e_dDnu_dn,+e_dDnu_dn,...,+e_dnu01,ddnu01_dn,-e_ddnu01_dn,+e_ddnu01_dn,dnu02,-e_dnu02,+e_dnu02,ddnu02_dn,-e_ddnu02_dn,+e_ddnu02_dn
0,1435467,1406.7,-8.4,6.3,70.369,-0.033,0.034,0.223,-0.009,0.01,...,0.125,-0.126,-0.021,0.02,5.682,-0.233,0.252,-0.116,-0.04,0.04
1,2837475,1557.6,-9.2,8.2,75.729,-0.042,0.041,0.179,-0.012,0.012,...,0.177,-0.017,-0.028,0.028,6.417,-0.392,0.408,-0.126,-0.048,0.049
2,3427720,2737,-17.7,10.7,120.068,-0.032,0.031,0.287,-0.008,0.01,...,0.079,-0.053,-0.014,0.014,10.186,-0.112,0.1,-0.124,-0.022,0.022
3,3456181,970,-5.9,8.3,52.264,-0.039,0.041,0.216,-0.011,0.011,...,0.158,-0.075,-0.023,0.024,4.37,-0.248,0.251,-0.03,-0.043,0.043
4,3632418,1166.8,-3.8,3,60.704,-0.018,0.019,0.232,-0.004,0.004,...,0.064,-0.041,-0.01,0.009,4.189,-0.115,0.102,-0.053,-0.019,0.017